@font-face {
    font-family: 'AlbertSans';
    src: url(../fonts/AlbertSans-Regular.ttf);
}
@font-face {
    font-family: 'AlbertSansBoldItalic';
    src: url(../fonts/AlbertSans-BoldItalic.ttf);
}
@font-face {
    font-family: 'AlbertSansBlack';
    src: url(../fonts/AlbertSans-Black.ttf);
}


:root {
    --background-color: hwb(1 14% 9%);
}

body{
    margin: 0;
    background: fixed no-repeat  url("../img/background/backgroundimg.jpg");
    background-size: cover;
    font-family: 'AlbertSans';
    overflow-x: hidden; /* pour éviter d'avoir des débordements sur l'axe x */
}

/*<!-- ------------------------------------------------------>
  <!-- ------------------- CSS HEADER ----------------------->
  <!-- ------------------------------------------------------>*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.6s ease-in-out;
    z-index: 10;
}


.barNav { 
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne tous les enfants verticalement au centre */
    height: 100px; /* hauteur fixe */
    width: 100%;
}

.logo{
    color: black;
    font-size: 65px;
    margin: 0 0 0 50px;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 400; 
}

.barNav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    gap: 30px;
    padding: 0%;
    height: 100%; 
    align-items: center; /* Assure que les éléments enfants sont centrés verticalement */
    position: relative;
}

.barNav ul li {
    list-style: none;
    color: black;
    display: flex;
    align-items: center; 
    font-family: 'AlbertSans';
    font-weight: bold;
    height: 100%; 
    cursor: pointer;
    font-size: 20px;
    
}

.barNav ul li:hover {
    border-bottom: 5px solid #F4E500;
}

.barNav img {
    padding-right: 50px;
    cursor: pointer;
    height: 35px;
}

.infoOuvertureHeader {
   background-color: #F4E500;
   padding: 10px;
   border-radius: 10px;
   margin: 0 15px;
   font-size: 18px;
}

.searchContainer {
    display: flex;
}

#searchForm input {
    border: none;
    border-bottom: solid 4px black;
    background-color: transparent;
    color: black;
    font-size: 18px;
    margin-right: 10px;
}

#searchForm input::placeholder{
    color: black;
    font-size: 18px;
}

#searchForm input:focus {
    outline: none;
    color: black;
}

#searchBar {
    opacity: 0;
    display: none;
}

#searchBar.show {
    opacity: 1;
    display: block;
}

.infoExceptionnelle{
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 0;
}

.infoExceptionnelle p {
    margin: 0;
    text-align: center;
    font-family: 'AlbertSans';
    font-size: 16px;
}

.deroulerHeader {
    text-align: center;
    display: none;
}

.deroulerHeader button{
    border: none;
    padding: 0 20px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}

.deroulerHeader button:hover{
    border-bottom: solid 3px white;
    border-right: solid 3px white;
    border-left: solid 3px white;
}

@media (max-width: 1024px) {

    .logo{
        margin: 0;
    }

    .barNav { 
        flex-direction: column;
        height: 300px; /* hauteur fixe */
    }

    .header {
        top: -335px;
    }

    .barNav ul {
        height: 50px; 
        margin: 25px 0;
    }

    .barNav img {
        margin: 25px 0;
        padding-right: 0px;
    }

    #searchForm {
        margin-top: 25px; 
    }

    .deroulerHeader {
        display: block;
    }
    
  }

/*<!-- ------------------------------------------------------>
  <!-- ------------------- CSS PUB -------------------------->
  <!-- ------------------------------------------------------>*/


.Pub {
    padding-top: 200px;
    width: 100%;
    max-height: 800px;
    display: flex;
    background-color: var(--background-color);
}

.imagePub {
    width: 100%;
}

.ImagesGaucheContenu {
    margin-right: 5%;
    position: relative;
}

.boutonImagePub{
    position: absolute;
    bottom: 4%;
    right: 5%;
}

.boutonRadioPub {
    width: 16px;
    height: 16px;
    background-color: white; /* Couleur blanche par défaut */
    border-radius: 50%; /* Optionnel : pour un look arrondi */
    appearance: none; /* Supprime le style par défaut des inputs */
    outline: none;
    cursor: pointer;
    opacity: 0.7; 
    margin-right: 10px;
}

/* Effet lorsqu'un input est sélectionné */
.boutonImagePub input:checked {
    opacity: 1; 
}


.ImageDroiteContenu {
    position: relative;
}

.informationImageDroitePub {
    position: absolute;
    display: grid;
    grid-template-areas: "top"
                         "bot";
    grid-column: 1fr;
    grid-template-rows: 1fr 0.8fr ;
    top:0px;
    width: 50%;
    height: 100%;
}

.TopInformationPub {
    grid-area: top;
    padding: 40% 0 0 20%;
}

.TopInformationPub img {
    width: 100%;
}

.TopInformationPub p{
    font-style: italic;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    margin-top: 10px;
}

.BotInformationPub {
    grid-area: bot;
    padding: 0 0 40% 20%;

}

.BotInformationPub p {
    font-family: 'AlbertSans';
    font-size: 20px;
    padding-right: 10%;
}

.BotInformationPub p span{
    font-weight: bold;
    font-size: 30px;
}

.BotInformationPub button {
    padding: 10px 40px;
    border-radius: 10px;
    border: transparent 1px;
    background-color: var(--background-color);
    color: white;
}

.BotInformationPub button:hover{
    border: solid 1px var(--background-color);
    background-color: white;
    color: var(--background-color);
}

.boutonFlechePubG {
    display: none;
}

.boutonFlechePubD {
    display: none;
}

@media (max-width: 1440px) {
    .TopInformationPub p{
        font-size: 15px;
        margin-top: 4px;
    }

    .BotInformationPub p span{
        font-size: 20px;
    }

    .BotInformationPub p {
        font-size: 10px;
    }

    .BotInformationPub button {
        padding: 5px 20px;
        font-size: 10px;
        color: white;
    }

    .boutonRadioPub {
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
}

@media (max-width: 768px) {

    .Pub {
        padding-top: 100px;
    }

    .TopInformationPub p{
        font-size: 10px;
        margin-top: 2px;
    }

    .BotInformationPub p span{
        font-size: 15px;
    }

    .BotInformationPub p {
        font-size: 8px;
    }

    .BotInformationPub button {
        padding: 4px 10px;
        font-size: 6px;
        color: white;
    }


    .boutonImagePub{
        display: none;
    }

    .boutonFlechePubD, .boutonFlechePubG {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
    }

    .boutonFlechePubG {
        left: 0;
        transform: translateY(-50%);
        top: 50%;
    }

    .boutonFlechePubG img {
        transform: scaleX(-1);
    }

    .boutonFlechePubD {
        right: 0;
        transform: translateY(-50%);
        top: 50%;
    }


    .boutonFlechePubG img, .boutonFlechePubD img {
        width: 100%;
        max-height: 100%;
    }

}

/*<!-- ------------------------------------------------------>
  <!-- ------------------- CSS CAROUSEL --------------------->
  <!-- ------------------------------------------------------>*/


  .carousel-container {
    padding: 200px 0;
    background-color: var(--background-color);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .carousel {
    width: 98%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carouselImages {
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease;
  }
  
  .carousel img {
    flex-shrink: 0; /* Empêche les images de rétrécir, garantissant qu'elles conservent leur taille définie même si l'espace est limité. */
    width: 100%;
    height: auto;
    max-width: calc(100% / 4 - 0.75rem); /* Chaque image occupe un quart de la largeur du conteneur, 
                                            ajusté pour inclure l'espace (gap) entre les images. */
    border-radius: 20px;
  }
  
  .progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 1rem; /* Espacement entre les boutons et la barre */
  }
  
  .carousel-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  /* Style par défaut pour les flèches */
  .carousel-btn img {
    width: 30px; /* Taille par défaut des flèches */
    height: auto;
    transition: transform 0.3s ease, width 0.3s ease; /* Animation pour agrandir les flèches au survol */
  }
  
  .carousel-btn:hover img {
    transform: scale(1.2); /* Agrandir légèrement au survol */
  }
    
  
  .progress-bar {
    flex: 1; /* Permet à la barre de prendre tout l'espace disponible entre les flèches */
    height: 5px;
    background-color: #ffffff65;
    border-radius: 20px;
    overflow: hidden;
    grid-area: progress;

  }
  
  .progress {
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: width 0.5s ease;
  }


  .left-btn {
    transform: scaleX(-1); /* Inversion horizontale */
  }


  .grilleTitreProgressionBar {
    display: grid;
    grid-template-areas: 
        "actus bonsplans"
        "text   progress";
    grid-template-columns: 1fr 2.5fr; /* Deux colonnes égales */
    grid-template-rows: auto auto; /* Deux lignes automatiques */
    width: 90%;
    gap: 10px; /* Espacement entre les éléments */
}

#ActusTest {
    grid-area: actus;
    margin: 0;

    padding-right: 50px;
    font-family: 'Albert Sans', sans-serif; 
    font-weight: bold;
    font-size: 65px; 
    color: white; 
}

#ActuBonsPlan {
    grid-area: bonsplans;

    display: grid; /* Assure un comportement de grille */
    align-items: center; /* Centre verticalement tout le contenu */
    text-align: right; /* Aligne le texte à droite */

}

#ActuBonsPlan p {
    margin: 0;
    font-family: 'Albert Sans', sans-serif; 
    font-weight: bold;
    font-size: 20px; 
    color: var(--background-color); 
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block; /* Ajuste la taille à celle du texte */
    justify-self: end; /* Aligne horizontalement à droite dans la grille */
}

#BonPlanText {
    grid-area: text;
    margin: 0;
    padding-left: 10%;
    font-family: 'Albert Sans', sans-serif; 
    font-weight: bold;
    font-size: 65px; 
    color: transparent; 
    -webkit-text-stroke: 2px #ffffff; /* Largeur et couleur de la bordure */
}

@media (max-width : 1024px) {

    .carousel-container {
        padding: 100px 0;

      }

    #BonPlanText {
        font-size: 35px; 
    }

    #ActusTest {
        font-size: 40px; 
    }

    #ActuBonsPlan p {
        font-size: 15px; 
    }
}


@media (max-width : 900px) {

    #BonPlanText {
        font-size: 25px; 
    }

    #ActusTest {
        font-size: 30px; 
    }

    #ActuBonsPlan p {
        font-size: 10px; 
    }
}

@media (max-width : 500px) {

    #BonPlanText {
        font-size: 10px; 
        -webkit-text-stroke: 1px #ffffff;

    }

    #ActusTest {
        font-size: 15px; 
    }

    #ActuBonsPlan p {
        font-size: 8px; 
    }
}



  
  @media (max-width: 1199px) and (min-width: 478px) {
    .carousel img {
      max-width: calc(100% / 3 - 0.67rem); /* 3 images avec gap */
    }

    .carousel-btn img {
        width: 25px; /* Réduire la taille des flèches */
  }
}
  @media (max-width: 479px) {
    .carousel img {
      max-width: calc(100% / 2 - 0.5rem); /* 2 images avec gap */
    }

    .carousel-btn img {
        width: 20px; /* Taille réduite pour les écrans plus petits */
      }
  }
  



/* Séparation espace de travaille */

.shopping-selection{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 85%;
    text-align: center;
    color: white;
    
}
.selection-head{
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 200%;
    
}

.selection-head button{
    margin-top: auto;
    
    padding: 10px;
    background-color: white;
    color: #E82723;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;  
}
.selection-head button:hover{
    border: solid;
    border-color: white;
}


.selection-button button{
    color: white;
    width: 150px;
    height: 150px;
    margin: 2%;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: white;
    font-size: 16px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.selection-button button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #E82723;
}

.selection-texte{
    font-size: 28px;
}

.redBackground{
    background-color: #E82723;
    padding-bottom: 2%;
    margin-top: 20%;
}

.tips{
    margin-top: 5%;
    position: relative;
    bottom: 20vh;
}


@media (max-width: 1024px){
    .tips{
        position: static;
    }
}

.box-jaune{
    margin-left: auto;
    margin-right: auto;
    background-color: #F8DF00; 
    padding: 15px;
    width: 70%;
    border-radius: 15px;
    text-align: center;
    font-size:clamp(10px, 2vw, 20px);
    padding-bottom: 2%;
}

.box-jaune h2{
    margin-right: 10px;
    color: white;
    position: relative;
    text-align: left;
    font-family: 'AlbertSansBoldItalic';
    font-weight: bold;
    font-size: clamp(10px, 7vw, 50px);
    -webkit-text-stroke: 3px black;
    margin: 0%;
    bottom: clamp(10px, 3vw, 7vw);
    left: 0px;
}

.box-jaune h3{
    font-family: 'AlbertSansBlack';
    margin-top: 0%;
    font-size: clamp(14px, 6vw, 48px);
      
    font-weight: bold;
}

.email-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
   
    align-items: center;
    width: 50%;
    border: 3px solid black; 
    border-radius: 50px; 
    overflow: hidden; 
    background-color: #F8DF00;
}

.email-container input{
    border: none;
    width: 100%;
    height: 100%;
    padding: 20px 20px; 
    flex: 1; 
    outline: none;
    background-color: #F8DF00;
    font-size: clamp(10px, 2vw, 20px);

}

.email-container input::placeholder{
    color: black;
    
}
.email-container img{
    padding: 10px 20px;
    width: clamp(16px, 2vw, 20px);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.email-container img:hover{
    transform: translateX(5px);
}


.slider-marque{
    position: relative;
    padding-bottom: 15%;
    background-color: #E82723;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    overflow: hidden;
    height: auto;
}


.button-marque {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

.button-marque img{
    width: 100%;
    height: auto;
    
}

.slider-marque:hover .button-marque{
    
    animation-play-state: paused!important;
}



@keyframes scrollLeft {
    to{
        left: -10%;
    }
}
.button-marque:nth-child(1) {
    animation-delay: calc(30s / 10 * (10 - 1) * -1);
}
.button-marque:nth-child(2) {
    animation-delay: calc(30s / 10 * (10 - 2) * -1);
}
.button-marque:nth-child(3) {
    animation-delay: calc(30s / 10 * (10 - 3) * -1);
}
.button-marque:nth-child(4) {
    animation-delay: calc(30s / 10 * (10 - 4) * -1);
}
.button-marque:nth-child(5) {
    animation-delay: calc(30s / 10 * (10 - 5) * -1);
}
.button-marque:nth-child(6) {
    animation-delay: calc(30s / 10 * (10 - 6) * -1);
}
.button-marque:nth-child(7) {
    animation-delay: calc(30s / 10 * (10 - 7) * -1);
}
.button-marque:nth-child(8) {
    animation-delay: calc(30s / 10 * (10 - 8) * -1);
}
.button-marque:nth-child(9) {
    animation-delay: calc(30s / 10 * (10 - 9) * -1);
}
.button-marque:nth-child(10) {
    animation-delay: calc(30s / 10 * (10 - 10) * -1);
}

footer{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 0.5fr;
    padding: 5% 10% 0% 15%;
    gap: 15%;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    
    /*  
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    */
}

.colContact{
    grid-column: 1;
    grid-row: 1;
}

.redirections{
    grid-column: 2;
    grid-row: 1;
}

.infosbonsplan{
    grid-column: 3;
    grid-row: 1;
}

.mentions{
    grid-column: 1/4;
    grid-row: 2;

    display: flex;
    justify-content: space-between;
}



footer .colContact .logo{
    margin: 0 0 40% 0 ;
}

.colContact .info .caseContact .img{
    width: 100%;
    height: 100%;
}


.colContact .info .caseContact{
    width: 60%;
    display: grid;
    grid-template-columns: 10% 1fr;
    gap: 10%;
    text-align: center;
    
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
}

.colContact .info .casePhone{
    border-color: #0000003b;
}